.products{
    border: 1px solid black;
    margin-top: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 4rem;
}

.products .product {
 border-bottom: 1px solid black;
 padding: 18px;
}

.products .product img{
    width: 100%;
    height: 200px;
}

.products .product button{
    background: black;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
}

.products .product button:hover{
 background: white;
 color: black;
 border: 1px solid black;
 border-radius: 6px;
 cursor: pointer;
 transition: 3sm all ease-in-out;
}